@using Claudia
@using Blazored.LocalStorage
@using AiChatUi.Models

<div class="d-flex flex-column container-fluid h-100">

    <ChatContextMessagesDisplay Context="Context" UseMarkdown="IsMarkdownEnabled" UseAutoScroll="IsAutoScrollEnabled" />

    <div class="card text-dark bg-light">
        <div class="card-body">
            <form>
                <div class="row mb-2">
                    <div class="col">
                        <input type="checkbox" class="btn-check" id="btn-check-use-markdown" @bind="IsMarkdownEnabled" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm" for="btn-check-use-markdown" title="Use Markdown"><i class="bi bi-markdown"></i></label>

                        <input type="checkbox" class="btn-check" id="btn-check-use-auto-scroll" @bind="IsAutoScrollEnabled" autocomplete="off">
                        <label class="btn btn-outline-primary btn-sm" for="btn-check-use-auto-scroll" title="Autoscroll"><i class="bi bi-chevron-bar-down"></i></label>
                    </div>
                    <div class="col">
                        <select class="form-select form-select-sm" @bind="Context.SelectedModel">
                            @foreach (var item in AvailableModels)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <textarea class="form-control" type="text" id="chat-input" placeholder="Enter Message..." 
                                autocomplete="off" @bind="Context.TextInput" @onkeydown="@KeyPressHandler"></textarea>
                            <button type="button" class="btn btn-primary" id="button-addon2" disabled="@IsRunning" @onclick="SubmitHandler">
                                <i class="bi bi-send"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>

@code {
    [Inject]
    public required Anthropic Anthropic { get; init; }
    
    [Inject]
    public required ILocalStorageService LocalStorage { get; init; }
    
    [Inject]
    public required IJSRuntime JsRuntime { get; init; }
    
    [Parameter]
    public ChatContext Context { get; set; } = new();
    
    [Parameter]
    public EventCallback OnContextChanged { get; set; }
    
    private List<string> AvailableModels { get; set; } = new();
    
    private bool IsMarkdownEnabled { get; set; } = true;
    private bool IsAutoScrollEnabled { get; set; } = true;
    private bool IsRunning { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        // use reflection to get all the models from the Models class
        foreach (var field in typeof(Claudia.Models).GetFields())
        {
            AvailableModels.Add((string)field.GetValue(null)!);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (string.IsNullOrWhiteSpace(Context.SelectedModel))
        {
            string? selectedModel = null;
            try
            {
                selectedModel = await LocalStorage.GetItemAsync<string>("SelectedModel");
            }
            catch
            {
                // do nothing
            }
            Context.SelectedModel = string.IsNullOrWhiteSpace(selectedModel) ? Models.Claude1_2 : selectedModel;
            await InvokeAsync(StateHasChanged);   
        }
    }
    
    private async Task SubmitHandler()
    {
        if (IsRunning) return;
        if (string.IsNullOrWhiteSpace(Context.TextInput)) return;

        IsRunning = true;
        try
        {
            Context.LastMessageTime = DateTimeOffset.Now;
            
            await LocalStorage.SetItemAsync("SelectedModel", Context.SelectedModel);
            
            Context.ChatMessages.Add(new() { Role = Roles.User, Content = Context.TextInput });

            var stream = Anthropic.Messages.CreateStreamAsync(new()
            {
                Model = Context.SelectedModel,
                MaxTokens = 1024,
                Temperature = Context.Temperature,
                System = string.IsNullOrWhiteSpace(Context.SystemInput) ? null : Context.SystemInput,
                Messages = Context.ChatMessages.ToArray()
            });

            var currentMessage = new Message { Role = Roles.Assistant, Content = "" };
            Context.ChatMessages.Add(currentMessage);

            Context.TextInput = ""; // clear input.
            await InvokeAsync(StateHasChanged);

            await foreach (var messageStreamEvent in stream)
            {
                if (messageStreamEvent is ContentBlockDelta content)
                {
                    currentMessage.Content[0].Text += content.Delta.Text;
                    await InvokeAsync(StateHasChanged);
                }
            }

            if (Context.ChatMessages.Count == 2)
            {
                var messagesToSummarize = Context.ChatMessages.ToList();
                messagesToSummarize.Add(new Message()
                {
                    Role = Roles.User,
                    Content = "Provide a title for this conversation. Provide only the title and no other commentary."
                });
                
                var response = await Anthropic.Messages.CreateAsync(new ()
                {
                    Model = Models.Claude1_2,
                    MaxTokens = 50,
                    Temperature = 1.0,
                    Messages = messagesToSummarize.ToArray()
                });

                Context.ChatTitle = response.Content[0].Text!;
            }
        }
        finally
        {
            IsRunning = false;
            await OnContextChanged.InvokeAsync();
        }
    }

    private async Task KeyPressHandler(KeyboardEventArgs arg)
    {
        if (arg is { Key: "Enter", ShiftKey: false })
        {
            await SubmitHandler();
            await InvokeAsync(StateHasChanged);
        }
    }
}